@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  overflow: scroll;
}

#card {
  margin-block: 12px;
  width: min(90%, 400px);
  color: #fff;
  border-radius: 18px;
  background-color: #2d2d2d;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

#title {
  color: #fffeee;
  padding-block: 12px;
  font-weight: 700;
  font-size: 26px !important;
}

.line {
  min-width: max(50%, 128px);
  padding-block: min(8vh, 48px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: initial;
}

#line-1 {
  color: #fff;
}

#line-2 {
  color: #000;
  background-color: #fffeee;
  border-radius: 0 0 18px 18px;
}

.digit,
.unit {
  width: inherit;
  max-width: 50%;
  font-weight: 400;
  font-size: 24px !important;
  color: inherit;
  background-color: inherit;
  cursor: auto;
  transition-duration: 100ms;
  word-wrap: break-word;
  border: 1px solid;
  border-radius: 4px;
  border-color: transparent;
}

.unit {
  text-align: end;
  appearance: none;
}

.digit:hover,
.digit:focus,
.unit:hover,
.unit:focus {
  border-color: inherit;
}

#swap {
  position: absolute;
  width: 45px;
  translate: -50% -50%;
}